{% extends 'base.html.twig' %}
{% block body %}
    <footer class="text-center text-white" style="background-color: #45637d;">
        <div class="container p-4">
            <!-- Section: Iframe -->
            <section class="">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="ratio ratio-16x9">
                            <iframe
                                    class="shadow-1-strong rounded"
                                    src="https://www.youtube.com/embed/tVguV3d8C_Q"
                                    title="YouTube video"
                                    allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Iframe -->
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://github.com/psyqozz">Psyqozz</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}