{% extends 'base.html.twig' %}
{% block body %}
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"><i id="header-toggle" class="fas fa-bars text-white"></i> </div>
        <div class="header_img"> <img src="https://osdeibi.dev/assets/img/faces/logoround.png" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="https://github.com/psyqozz" class="nav_logo"><i class="fas fa-angry"></i> <span class="nav_logo-name">Github</span> </a>
            </div>
        </nav>
    </div>
</body>
{% endblock %}
